.btn {
  background: linear-gradient(to bottom, #31569e 0%, var(--primary-color) 100%);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-family: var(--font-poppins);
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-primary);
  cursor: pointer;
  align-self: center;
}
.btn:hover {
  background: linear-gradient(to bottom, #4370c8 0%, #1d3a73 100%);
}
